
a:link{
	text-decoration:none;
	color:#fff
	}

a:visited{
	text-decoration:none;
	color:#fff
	}



a:hover{
	text-decoration:underline;
	}

a:active{
	text-decoration:underline;
	}

body{
	height: 2000px;
	width: 1024px;
	color: #000;
	font-size: 14px;
	margin-right: auto;
	margin-left: auto;
	background-color: #03F;

	}


.pagina{
	height: auto;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	background-color: #03F;
	border: 1px solid #FFF;
	background-image: url(../img/fondocuerpo.png);


}
.contenedor{
	height: 1100px;
	width: 1024px;
	background-image: url(../img/fondocuerpo.png);
}

.categoria{
	width: 250px;
	height: auto;
	background-color: #9F6;
	border: 1px solid #000;
	border-radius: 4px;
	box-shadow:1px 1px 1px 1px #000;/*sombra*/
	margin-bottom: 50px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	background-image: url(../img/categoria.png);
}

.productos{
	height:1000px;
	width: 700px;
	float: right;
	margin-top: 30px;
	}

.footer{
	text-align: center;
	width: 1024px;
	background-color: #000;
	color: #FFF;
	margin-right: auto;
	margin-left: auto;
	}

.foto_cabecera{
	text-align: center;
	height: 250px;
	width: 1024px;
	margin: 0px;
	background-color: #0C9;
}
.botones_categoria
{
	background-image: url(../img/boton_categoria.png);
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #000;
	height: 20px;
	width: 180px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 4px;
	box-shadow:1px 1px 1px 1px #888888;/*sombra*/
	text-align: center;
	background-color: #FFF;
	color: #FFF;
	position: relative;
}

.botones_categoria:hover
{
	background-image: url(../img/boton_categoria_a.png);
	background-repeat: no-repeat;
	background-position: center;
	box-shadow:2px 2px 2px 2px #FFF;/*sombra*/
	text-align: center;
}


.banner{
	height: 300px;
	width: 200px;
	border: 1px solid #CCC;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	margin-bottom: 20px;
}


#paginador{
	padding-top: 700px;
	}
span{ margin-right:4px;


	display: inline-block;
    zoom: 1;
    display: inline;
    vertical-align: baseline;

    text-decoration: none;
    font: 12px Arial;
    padding: .5em .9em .5em;



	border-radius:3px;
	color: black;
	border: solid 1px #000;
    background: #CCC;
	}
#paginador a{
	display: inline-block;
    zoom: 1;
    display: inline;
    vertical-align: baseline;
    cursor: pointer;
    text-decoration: none;
    font: 12px Arial;
    padding: .5em 1em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow:1px 1px 1px 1px #888888;/*sombra*/
	border-radius:3px;
	color: #d7d7d7;

    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top,  #666,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
#paginador a:hover {
   text-decoration: none;
   background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
    background: -moz-linear-gradient(top,  #444,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}

.caja{
	float:left;
	/*width:150px;*/
	 width:150px;
	height:200px;
	text-align:center;
	border:1px solid #E2E2E2;
	border-radius:10px;
	font-family:arial;
	margin: 10px;

	box-shadow:1px 1px 1px 1px #888888;/*sombra*/
	background-color: #FFF;
}


.cajaDes{
	background:white;
	float:none;
	width:auto;
	height:auto;
	text-align:center;
	border:1px solid #E2E2E2;
	border-radius:10px;
	padding:15px;
	font-family:arial;
	box-shadow:1px 1px 1px 1px #888888;/*sombra*/
	margin-right: 40px;

}

.tabla_carrito{
	border-radius: 4px;
	border: 1px solid #CCC;
	background-color: #FFF;
	box-shadow:1px 1px 1px 1px #888888;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	position: relative;
	top: 50px;
	}


.superado_stock{
	border-radius: 4px;
	border: 1px solid #CCC;
	background-color: #FFF;
	box-shadow:1px 1px 1px 1px #888888;
	text-align:center;
	width: 600px;
	margin-left: 340px;

	margin-top: 30px;
	margin-bottom: 20px;
}

.tabla_finalizar_pedido{
	border-radius: 4px;
	border: 1px solid #CCC;
	background-color: #FFF;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	height: 1000px;
	width: 1024px;

}

.tabla{
	border-radius: 4px;
	border: 1px solid #CCC;
	background-color: #FFF;
	box-shadow:1px 1px 1px 1px #888888;

}
.mainDiv{
	 width:200px;
	height:300px;

}
